<link rel="stylesheet" href="/custom/clients/base/views/activity-tracker/activity-tracker.css"/>
<div id="tracker-container">
    {{#if fetchedModel.id}}
        <div>
            <div>
              <div class="span1 large-icon align-left">
                  <a href="javascript:void(0);" track="click:go_left" name="go_left">
                      <i class="fa fa-caret-left"></i>
                  </a>
              </div>
              <div class="span5">
                  <div class="contact-name">{{fetchedModel.name}} {{#if fetchedModel.my_favorite}}<i class="fa fa-favorite active color-yellow"></i>{{/if}}</div>
                  <div class="contact-role">{{fetchedModel.title}}</div>
                  <div class="contact-acct">{{fetchedModel.account_name}}</div>
              </div>
              <div class="span5">
                  <div class="contact-info-row">
                      <i class="fa fa-phone"></i>: {{fetchedModel.phone_work}}
                  </div>
                  <div class="contact-info-row">
                      <i class="fa fa-mobile-phone"></i>: {{fetchedModel.phone_mobile}}
                  </div>
                  <div class="contact-info-row">
                      <i class="fa fa-envelope"></i>: {{fetchedModel.email1}}
                  </div>
              </div>
              <div class="span1 large-icon align-right">
                  <a href="javascript:void(0);" track="click:go_right" name="go_right">
                      <i class="fa fa-caret-right"></i>
                  </a>
              </div>
              <div style="clear: both;"></div>
            </div>
        </div>
        <hr>

        <div>
          <div class="span3"><strong>Current CRM:</strong></div>
          <div class="span3">{{fetchedModel.current_crm}}</div>
          <div class="span3">
            {{#eq fetchedModel._module 'Leads'}}
            <strong>Lead Status:</strong>
            <span id="lead-status-saving"><img src="/themes/default/images/loading.gif" width="12" height="12"/></span>
            {{/eq}}
          </div>
          <div class="span3">
            {{#eq fetchedModel._module 'Leads'}}
            <select id="lead-status">
              {{#each fetchedModel.status_list}}
              <option value="{{@key}}" {{#eq @key ../fetchedModel.status}}selected{{/eq}}>{{this}}</option>
              {{/each}}
            </select>
            {{/eq}}
          </div>
        </div>

        <div>
          <div class="clearfix description-section">
            <div class="span3"><strong>Description:</strong></div>
            <div class="span9">{{fetchedModel.description}}</div>
          </div>
        </div>

        {{#if fetchedModel.historicalSummary}}
        <table class="table table-striped historical-summary-table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Subject</th>
              <th>Status</th>
              <th>Description</th>
              <th>Modified</th>
            </tr>
          </thead>
          <tbody>
          {{#each fetchedModel.historicalSummary}}
            <tr>
              <td>
                <span class="label label-module label-module-med label-{{_module}}" title="{{_module}}">
                  {{moduleIconLabel _module}}
                </span>
              </td>
              <td><a href="/#{{moduleName}}/{{id}}">{{name}}</a></td>
              <td>{{status}}</td>
              <td>{{description}}</td>
              <td>{{formatDate date_modified}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        {{/if}}

        <textarea id="comment" placeholder="Add Comments"></textarea>

        <div class="pull-right">
            <select id="activity_type">
                <option value="Calls">Call</option>
                <option value="Meetings">Meeting</option>
                <option value="Tasks">Task</option>
                <option value="Notes">Note</option>
            </select>
            <a class="btn btn-primary" href="javascript:void(0);" track="click:log_activity" name="log_activity">
                Log Activity</a>
            <a class="btn btn-primary" href="javascript:void(0);" track="click:quick_log_activity" name="quick_log_activity">
            Quick Log Call</a>
        </div>
        <div style="clear: both;"></div>
    {{else}}
        <div id="no-records-text">No Records Selected.</div>
    {{/if}}
    <div id="tracker-loading">
      <img src="/themes/default/images/loading.gif"/>
    </div>
</div>
