.account-name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.contact-name {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}
.contact-info-row {
  margin-top: 5px;
}
.contact-info-row i {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.large-icon {
  font-size: 40px;
  margin-top: 20px;
}
#tracker-container {
  margin: 5px 15px;
}
ul.activitystream-list li {
  margin-bottom: 15px;
}
.margin-right {
  margin-right: 15px;
}
#comment {
  width: 98%;
  height: 60px;
  margin-bottom: 15px;
}
#activity_type {
  width: 85px;
  margin-bottom: 0px;
}
.color-yellow{
  color: #ffe202;
}
.center {
  text-align: center;
}
.contact-role,
.contact-acct {
  text-align: center;
}
.description-section {
  margin-bottom: 5px;
}
.historical-summary-table {
  border-top: solid 1px #efefef;
}
#lead-status {
  width: 110px;
}
#lead-status-saving {
  display: none;
}
#no-records-text {
  text-align: center;
  margin-top: 15px;
}
#tracker-loading {
  display: none;
  text-align: center;
  margin-top: 20px;
}
